<div class="genre-card" style="flex: 2;">
  <div class="genre-card-title">ジャンル検索</div>
  <div class="genre-card-body">
    <ul>
      <li>ケーキ</li>
      <li>プリン</li>
      <li>焼き菓子</li>
      <li>キャンディ</li>
    </ul>
  </div>
</div>