<%= stylesheet_link_tag 'public/homes', media: 'all' %>
<div class="container">
  <div class="col text-center">
    <h1>About</h1>
    <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。</p>
    </div>
    <div class="about-image text-center">
      <img src="<%= asset_path('about.jpg') %>" alt="トップ画像">
    </div>
</div>
