.logo-img {
    height: 70px;
    width: auto;
}

.custom-header {
    background-color: #6a1917;
    height: 60px;
    display: flex;
    align-items: center;
}

.hover-effect {
    color: #f8f9fa;
    transition: color 0.3s ease; /* 文字色の変更をスムーズに */
}

.hover-effect:hover {
    color: #f6ae54; /* マウスオーバー時の文字色 */
}

.fa-search {
    color: white;
}

.custom-btn {
    color: black；
}
.custom-btn:hover {
    background-color: #e17b34 !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.custom-header {
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    background-color: #f8f4e6;
}

.custom-footer {
    flex-shrink: 0;
    background-color: #6a1917;
    height: 50px;
    display: flex;
    align-items: center;
}